@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We don't store any of your personal details. We don't collect them either. We do keep track of the locations you look for, but this is only so we can make our service better. 
    We don't connect or store the locations with anything that could be related to you.     </p>
